
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">

<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="{% url 'homepage' %}">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="{% url 'events' %}">Events</a>
        </li>
        <li class="nav-item">
          {% if user.is_staff %}
          <a class="nav-link active" aria-current="page" href="{% url 'addmember' %}">Add Member</a>
          {% endif %}
        </li>
        <li class="nav-item">
          {% if user.is_staff %}
          <a class="nav-link active" aria-current="page" href="{% url 'addevent' %}">Add Events</a>
          {% endif %}
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="{% url 'logout' %}">Logout</a>
        </li>
      </ul>
authentication required
      <form method='post' class="d-flex" role="search" action="{% url 'search_member' %}">
        {% csrf_token %}
        <input class="form-control me-2" type="search" name='search_user' placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit" >Search</button>
      </form>

    </div>
  </div>
</nav>

{% block content %}

{% endblock content %}