{% extends 'base.html' %}

{% block content %}
        {% for event in object_list  %}
            
        





<div class="list-group">
    <a href="#" class="list-group-item list-group-item-action active" aria-current="true">
      <div class="d-flex w-100 justify-content-between">
        <h5 class="mb-1">{{event.title}}</h5>
        <small>{{event.created_at}}</small>
      </div>
      
      <a href="{% url 'eventdetail' event.pk %}"><small>Read More...</small></a>
      <a href="{% url 'deleteevents' event.pk %}"><button type='submit' class="btn btn-danger"><small>Delete Event...</small></button></a>
    </a>
    
  </div>

  {% endfor %}
{% endblock content%}