{% extends 'base.html' %}

{% block content %}
        {% for event in object_list  %}
            
        





<div class="list-group">
    <a href="#" class="list-group-item list-group-item-action active" aria-current="true">
      <div class="d-flex w-100 justify-content-between">
        <h5 class="mb-1">{{event.title}}</h5>
        <small>{{event.created_at}}</small>
      </div>
      <p class="mb-1">{{event.description}}</p>
      <small>Read More...</small>
    </a>
    
  </div></br>

  {% endfor %}
{% endblock content%}